/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-with{
  width: 100%;
}

.titulo{
  color: #b70505;
  font-size: 27px !important;
  text-transform: uppercase;
  font-weight: bold !important;
}
.fondo{
  background-color: #a8a6a6;
}
